{% extends 'base.html' %}

{% block content %}

<h1>Veer</h1>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Buy a home</h5>
                <p class="card-text">Find your place with an immersive photo experience and the most listings, including
                    things you won't find anywhere else.</p>
                <a href="#" class="btn btn-primary">Search homes</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sell a home</h5>
                <p class="card-text">Whether you get a cash offer through Casa Offers or choose to sell traditionally,
                    we can help you navigate a successful sale.</p>
                <a href="#" class="btn btn-primary">See your options</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rent a home</h5>
                <p class="card-text">We are creating a seamless online experience - from shopping on the largest rental
                    network, to applying, to paying rent.</p>
                <a href="#" class="btn btn-primary">Find rentals</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}