{% extends 'base.html' %}
{% block title %}Sell{% endblock title %}

{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Sell with confidence</h1>
    <p class="lead">We are making it easier and safer to sell your home and move forward.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 fw-normal">Sell Yourself</h4>
            </div>
            <div class="card-body">
                <p>Reach the largest audience of shoppers with a free listing.</p>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Create a listing</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 fw-normal">Work with an agent</h4>
            </div>
            <div class="card-body">
                <p>Our premier Agents are among the best in the business. Learn to <a>pick the right one for you.</a>
                </p>
                <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 fw-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}